.venv/
tp/
__pycache__/
tp_python.db
turnos_confirmados_por_fecha.csv
estado_personas.csv
turnos_confirmados_por_fecha.pdf
estado_personas.pdf
turnos_cancelados_2025_12.csv
turnos_cancelados_2025_12.pdf
turnos_fecha_2025-12-26.csv
turnos_fecha_2025-12-26.pdf